{% extends "base.html" %}
{% block conteudo %}


        <main class="flex-fill">
            <div class="container">
                <h1>Minha Conta</h1>
                <div class="row gx-3">
                    <div class="col-4">
                        <div class="list-group">
                            <a href="/cliente_dados" class="list-group-item list-group-item-action">
                                <i class="bi-person fs-6"></i> Dados Pessoais
                            </a>
                            <a href="/cliente_contatos" class="list-group-item list-group-item-action">
                                <i class="bi-mailbox fs-6"></i> Contatos
                            </a>
                            <a href="/cliente_endereco" class="list-group-item list-group-item-action">
                                <i class="bi-house-door fs-6"></i> Endereço
                            </a>
                            <a href="/cliente_pedidos"
                                class="list-group-item list-group-item-action text-light" style="background-color: rgb(123, 207, 179);">
                                <i class="bi-truck fs-6"></i> Pedidos
                            </a>
                            <a href="/cliente_favoritos" class="list-group-item list-group-item-action">
                                <i class="bi-heart fs-6"></i> Favoritos
                            </a>
                            <a href="/cliente_senha" class="list-group-item list-group-item-action">
                                <i class="bi-lock fs-6"></i> Alterar Senha
                            </a>
                            <a href="/logout" class="list-group-item list-group-item-action">
                                <i class="bi-door-open fs-6"></i> Sair
                            </a>
                        </div>
                    </div>
                    <div class="col-8">
                        <form class="row mb-3">
                            <div class="col-12 col-md-6 mb-3">
                                <div class="form-floating">
                                    <select class="form-select">
                                        <option value="30">Últimos 30 dias</option>
                                        <option value="60">Últimos 60 dias</option>
                                        <option value="90">Últimos 90 dias</option>
                                        <option value="180">Últimos 180 dias</option>
                                        <option value="360" selected>Últimos 360 dias</option>
                                        <option value="9999">Todo o período</option>
                                    </select>
                                    <label>Período</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-floating">
                                    <select class="form-select">
                                        <option value="1" selected>Mais novos primeiro</option>
                                        <option value="2">Mais antigos primeiro</option>
                                    </select>
                                    <label>Ordenação</label>
                                </div>
                            </div>
                        </form>
                        <div class="accordion" id="divPedidos" >
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#pedido000010" style="background-color: rgb(123, 207, 179);">
                                        <b>Pedido 000010</b>
                                        <span class="mx-1">(realizado em 23/11/2023)</span>
                                    </button>
                                </h2>
                                <div id="pedido000010" class="accordion-collapse collapse" data-bs-parent="#divPedidos" >
                                    <div class="accordion-body">
                                        <table class="table">
                                            <thead>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th class="text-end" colspan="3">Valor dos Produtos:</th>
                                                    <td class="text-end">R$00,00</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-end" colspan="3">Valor do Frete:</th>
                                                    <td class="text-end">R$00,00</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-end" colspan="3">Valor a Pagar:</th>
                                                    <td class="text-end">R$00,00</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-end" colspan="3">Forma de Pagamento:</th>
                                                    <td class="text-end">Crédito VISA 1x</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-end" colspan="3">Código de rastreio:</th>
                                                    <td class="text-end">0POK9127PL12</td>
                                                </tr>
                                                <tr>
                                                    <th class="text-end text-primary" colspan="4"><a href="https://www.correios.com.br/">Clique aqui para ir ao site da transportadora</a></th>
                                                    <td class="text-end"></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% endblock %}